<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
    <title>Base</title>
</head>
<body>
<form method="POST">
    <input type="text" name="trainer" value="" required>
    <input type="text" name="place" value="" required>
    <input type="text" name="price" value="" required>
    <button type="submit">Add New</button>
</form>

</body>
</html>